<p id="notice"><%= notice %></p>

<h1>List of Contacts</h1>

<br>

<%= link_to 'New Contact', new_contact_path %>
  <% @contacts.each do |contact| %>
    <p><strong>Name:</strong> <%= contact.name %></p>

  <p><%= link_to 'Show Contact', contact %></p> 
  <p><%= link_to 'Edit', edit_contact_path(contact) %></p> 
  <p><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% end %>

<br>


